@{
    ViewBag.Title = "About Collaboratr";
}
<h2>@ViewBag.Title.</h2>

<p>CollaboratR is a web-based colloboration appilcation. Our goal is to provide the user with a simple and effecient collaboration platform.</p>
