@{
    ViewBag.Title = "Contact Developers";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Arlon Marikar:</strong>   <a href="mailto:arlon.marikar@gmail.com">arlon.marikar@gmail.com</a><br />
    <strong>Ross Fahan:</strong> <a href="mailto:rfahan@gmail.com">rfahan@gmail.com</a><br />
    <strong>John Tang:</strong> <a href="mailto:ja.tang@gmail.com">ja.tang@gmail.com</a>
</address>