@{
    ViewBag.Title = "Terms";
}
<br>
    <h3>@ViewBag.Message</h3>

<div class='innerText'>
    By using the Collaboratr Web site, you agree to the following terms:  Do not transmit nudity, sexually harass anyone, publicize other peoples' private information, make statements that defame or libel anyone, violate intellectual property rights, or behave in any other inappropriate or illegal way on Collaboratr. Understand that human behavior is fundamentally uncontrollable, that the people you encounter on Collaboratr may not behave appropriately, and that they are solely responsible for their own behavior. Use Collaboratr at your own peril. Disconnect if anyone makes you feel uncomfortable. You may be denied access to Collaboratr for inappropriate behavior, or for any other reason. COLLABORATR SHALL NOT BE HELD LIABLE FOR ANY DIRECT OR INDIRECT DAMAGES ARISING FROM THE USE OF COLLABORATR. By using Collaboratr, you accept the practices outlined in OmegleChat's PRIVACY POLICY.
    <br><br />Moderation is not perfect. You may encounter misbehaving users who are not presently banned. They are solely responsible for their own behavior.<br><br />
</div>
